
  .gridContainer{
    /* width:100%; */
    display: grid;
    /* grid-template-columns: auto auto auto auto; */
    grid-template-columns: repeat(4, 320px);
    grid-template-rows: repeat(3, 1fr);
    place-content: center;
    gap:1rem;
    /* margin: 0 300px 0 300px; */
  }
  .gridContainer:hover{
      cursor: pointer;
  }
  @media (max-width: 500px) {
    .gridContainer{
      display: grid;
      /* grid-template-columns: auto auto auto auto; */
      grid-template-columns: repeat(2, 40%);
      /* grid-template-rows: repeat(3, 1fr); */
      place-content: center;
      grid-gap: 1rem;
      gap: 1rem;
      /* margin: 0 300px 0 300px; */
      margin: 0 auto;
    }
  }