@media (max-width: 500px) {
.middle_side_title {
    font-size: 1.375rem;
    margin-top: 36px;
}
.middle_side_price{
    margin: 11px 429px 14px 33px;
}
.middle_side_description{
    margin: 38px 84px 0px 33px;
    width: 349px;
}
}