@media (max-width: 500px) {
.middle_side_title {
    font-size: 1.375rem;
    margin: unset;
    margin-top: 36px;
    margin-bottom: 14px;
    width: unset;
    height: auto;
}
.middle_side_price{
    margin: unset;
    height: auto;
}
.middle_side_description{
    width: 250px;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
}
}