.variants {
  display: grid;
  grid-template-columns: repeat(3, 127px);
  grid-template-rows: repeat(auto, 127px);
  place-content: center;
  gap: 1.375rem;
  margin-left: 358px;
}
div.variants > img {
  width: 127px;
  height: 127px;
  object-fit: contain;
  border: 1px black solid;
}
.variants:hover {
  cursor: pointer;
}

@media (max-width: 500px) {
  .variants {
    display: grid;
    grid-template-columns: repeat(3, 104px);
    /* grid-template-rows: repeat(auto, 127px); */
    place-content: center;
    grid-gap: 1rem;
    margin: 0 auto;
  }
  div.variants > img {
    width: 98px;
    height: 98px;
  }
  .large_image {
    margin: 0 auto;
    width: 343px;
    height: 343px;
    justify-content: center;
    display: flex;
    margin-bottom: 1rem;
  }
}
